.recipe-grid {
    /*Add grid settings here*/
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr))
    
}

.recipe-card {
    max-width: 400px;
    min-height: 410px;
    border: 3px solid var(--main-color);
    border-radius: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
}

.recipe-card:hover .active-controls {
    display: block;
}

.recipe-head {
    width: 100%;

}

.recipe-ingredients {
    border: 3px dotted var(--main-color);
    padding: 5px 0;
}

.card-btn-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-controls {
    position: absolute;
    top: 10px;
    right: 16px;
    height: fit-content;
    display: none;
}


.delete {
    cursor: pointer;
    background-color:red;
    padding: 8px;
    color: #fff;
    display: inline-block;
    padding: 8px 8px 4px 8px;
}

.delete img, .edit img {
    height: 20px;
    width: 20px;
}

.edit {
    right: 16px;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 8px;
    color: #fff;
    display: inline-block;
    padding: 8px 8px 4px 8px;
    margin-right: 5px;
}