.content-area {
    max-width: 1080px;
    margin: 0 auto;
}

.btn {
    background-color: transparent;
    border: 0;
    color:rgba(231, 74, 74, 1);
    padding: 8px 8px;
    font-size: 18px;
    transition: all .1s ease-in;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(231, 74, 74, 1);
    color: white;
    cursor: pointer;
}

.btn-large {
    font-size: 25px;
}

.btn-delete {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button:focus, input[type='text'], input[type='tel'], input[type='email'] {
    outline: none;
}

ul li {
    list-style-type: circle;
}

