.content-area {
    max-width: 1080px;
    margin: 0 auto;
}

.btn {
    background-color: transparent;
    border: 0;
    transition: all .1s ease-in;
    text-decoration: none;
    box-shadow: 0 4px 4px #bfbfbf;
}

.btn:hover {
    box-shadow: none;
    cursor: pointer;
}

.btn-default {
    background-color: var(--main-color);
    padding: 8px 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 26px;
    
    font-weight: 600;
}


.btn-large {
    font-size: 25px;
}

.btn-round {
    border-radius: 30px;
}

.btn-delete {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button:focus, input[type='text'], input[type='tel'], input[type='email'] {
    outline: none;
}

ul li {
    list-style-type: circle;
}

