:root {
  --main-color: #1C8C6C;
  --secondary-color: #14594C;
  --dark-color: #0A2626;
  --light-color: #C2F2E0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light-color);
  background: linear-gradient(90deg, rgba(28,140,108,1) 0%, rgba(194,242,224,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

