:root {
  --main-color: #1C8C6C;
  --secondary-color: #14594C;
  --dark-color: #0A2626;
  --light-color: #C2F2E0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

